.service-info {
    box-shadow: -1px 0px 3px 0px rgb(0 0 0 / 50%);
    border: none;
    border-radius: 15px;
    margin: 40px 0;
    padding: 15px;
}

/* .service-info:hover {
-webkit-box-shadow: -4px 7px 25px -12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -4px 7px 25px -12px rgba(0, 0, 0, 0.5);
    box-shadow: -4px 7px 25px -12px rgba(0, 0, 0, 0.5);
  border: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 37px;
    transition: 0.5s all ease-in-out;
} */

.service {
    text-transform: uppercase;
    margin: 20px;
    display: inline-block;
    border-bottom: 1px solid black;
}

.service-icon {}

.service-info img {
    width: 15%;
}


.service-text {}

.service-text h4 {
    text-transform: uppercase;
    margin-top: 15px;
}

.service-text p {}